.todo-list {
  --spacer: 2rem;

  grid-area: active;
  background: var(--clr-light);
	color: var(--clr-dark);
	position: relative;
}

.todo-list header {
  padding: var(--spacer);
  background: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-list header h2 {
  margin: 0 1em 0 0;
}

.todo-list header p {
  margin: 0;
  font-size: 1rem;
}

.todo-list main {
  padding: var(--spacer);
}

.todo-list .add-input button {
  color: var(--clr-primary);
}

.todo-list footer {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -35px;
  color: var(--clr-light);
}

.todo-list footer button {
	cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
  color: inherit;
  opacity: 0.7;
  font-size: 1rem;
  transition: color 200ms;
}

.todo-list footer button:hover {
  color: var(--clr-warning);
}
